.catalog {
  padding-top: 85px;
  margin-bottom: 107px;
}

.catalog-language {
 max-width: 1080px;
 margin-bottom: 38px;
}

.catalog-language__choice {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.catalog-title {
  margin: 0;
  margin-right: 41px;
  font-size: 48px;
  font-weight: normal;
}

.language__items {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.language__item {
  width: 46px;
  height: 46px;
}

.language-btn {
  width: 100%;
  height: 100%;
  background: none;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  transition: all .2s;
}

.language-btn_fr {
  background-image: url(../img/catalog/flags/frn.png);
}

.language-btn_ger {
  background-image: url(../img/catalog/flags/ger.png);
}

.language-btn_it {
  background-image: url(../img/catalog/flags/ita.png);
}

.language-btn_ru {
  background-image: url(../img/catalog/flags/rus.png);
}

.language-btn_bg {
  background-image: url(../img/catalog/flags/bg.png);
}

.language-btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
}

.language-btn::before {
  content: '';
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0px;
  left: 0px;
  border: 2px solid var(--active-focus-color);
  border-radius: 50px;
  opacity: 0;
  transition: opacity .2s;
}

.language-btn:active::before {
  opacity: 1;
}

.language-btn:focus {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
  outline: none;
}

.active-btn::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  margin-top: -33px;
  margin-left: -33px;
  border: 2px solid  var(--active-focus-color);
  border-radius: 100px;
  opacity: 0;
  animation: activeBtn .2s forwards;
}

@keyframes activeBtn {
  to {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.catalog-painters__container {
  display: none;
  opacity: 0;
}

.catalog-painters__container-active {
  display: flex;
  justify-content: space-between;
  animation: catalogPainterContainerActive .3s linear forwards;
}

@keyframes catalogPainterContainerActive {

  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.catalog-language__description {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.catalog-painters {
  max-width: 750px;
  margin-right: 50px;
}

.catalog-painters__img {
  max-width: 100%;
  margin-bottom: 30px;
}

.catalog-painters__about {
  margin-bottom: 8px;
}

.catalog-painters__name {
  line-height: 34px;
}

.catalog-painters__year {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalog-painters__icon {
  color: #ECECEC;
}

.catalog-painters__description {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
}

.catalog-painters__choice {
  width: 800px;
}

.ui-accordion .ui-accordion-header {
  padding: 0;
  margin: 0;
  margin-top: -1px;
}

.catalog-painters__header:focus-visible {
outline: none;
}

.catalog-painters__item:focus-visible .catalog-painters__years {
  outline: none;
  color: #fff;
  background-color: var(--hover-color);
  transition: outline .1s linear;
}

.catalog-painters__item:focus-visible .catalog-painters__icon {
  outline: none;
  color: #D1A9F0;
}

.catalog-painters__item {
display: flex;
align-items: center;
justify-content: space-between;
min-height: 100%;
}

.catalog-painters__item:focus-visible {
  outline: none;
}

.catalog-painters__years {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  padding-top: 25px;
  padding-bottom: 38px;
}

.ui-accordion-header {
  height: 117px;
  margin: 0;
  padding: 0px;
  line-height: 32px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
}

.ui-accordion-header:first-child {
  border-top: 1px solid #CACACA;
}

.ui-accordion-header:hover {
  border-top: 1px solid var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
  transition: border .2s linear;
}

.ui-accordion-header:active{
  border-color: var(--active-focus-color);
  transition: border .2s linear;
}

.ui-accordion-header:first-child.ui-accordion-header-active, 
.ui-accordion-header-active {
  border-top: 1px solid var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
  transition: border .2s linear;
}

.ui-accordion-header-active + .ui-accordion-content-active {
  border-bottom: 1px solid #CACACA;
  transition: border .2s linear;
}

.ui-accordion-header:focus-visible .catalog-painters__years {
  color: #fff;
  background-color: var(--hover-color);
  transition: color .2s linear;
}

.ui-accordion-header:focus-visible .catalog-painters__icon {
  color: #D1A9F0;
  transition: color .2s linear;
}

.ui-accordion-header-icon, 
.ui-icon, 
.ui-icon-triangle-1-e {
  display: none;
}

.catalog-painters__drop {
  padding-top: 25px;
  padding-bottom: 38px;
  column-count: 3;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.catalog-painters__link {
  position: relative;
  padding: 0px;
  color: #333333;
  width: auto;
  background: none;
  border: none;
}
.catalog-painters__link.catalog-painters__link_active {
  color: var(--hover-color);
}

.catalog-painters__link:hover {
  color: var(--hover-color);
  cursor: pointer;
}

.catalog-painters__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -4px;
  left: 0;
  background: var(--hover-color);
  transition: width .2s linear;
}

.catalog-painters__link:hover::after {
  width: 100%;
}

.catalog-painters__link:active {
  color: var(--active-focus-color);
  transition: color .2s linear;
}

.catalog-painters__link:active::after {
  background: var(--active-focus-color);
}



.catalog-painters__link:focus-visible {
  outline: none;
  color: #fff;
}

.catalog-painters__link:focus-visible::before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% + 6px);
  top: -3px;
  background-color: var(--hover-color);
  z-index: -1;
}

.catalog-painters {
  display: none;
  opacity: 0;
  max-width: 750px;
}

.catalog-painters-active{
  display: block;
  animation: catalogPainterActive .3s linear forwards;
}

@keyframes catalogPainterActive {

  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.catalog-painters__years, 
.catalog-painters__icon {
  transition: color .2s;
}

.ui-accordion-header:hover
.catalog-painters__years {
  color: var(--hover-color);
}

.ui-accordion-header:hover
.catalog-painters__icon {
  color: #D1A9F0;
}

.ui-accordion-header:active
.catalog-painters__years {
  color: var(--active-focus-color);
}

.ui-accordion-header:active
.catalog-painters__icon {
  border: 2px solid var(--hover-color);
  border-radius: 100px;
}

.ui-accordion-header-active 
.catalog-painters__years {
  color: var(--active-focus-color);
}

.ui-accordion-header-active 
.catalog-painters__icon {
  color: #D1A9F0;
  border: 2px solid var(--hover-color);
  border-radius: 100px;
}

.ui-state-active 
.catalog-painters__icon {
  transform: rotate(180deg);
  transition: transform .2s;
}

@media(max-width: 1366px) {
  .catalog-painters__drop {
    column-count: 2;
    column-gap: 46px;
  }

  .catalog-painters {
    max-width: 47.3%;
  }

  .language__items {
    width: 46%;
  }
}

@media(max-width: 992px) {

  .catalog {
    margin-bottom: 0px;
  }

  .catalog-language {
    margin-bottom: 18px;
  }

  .language__items {
    width: 67%;
  }

  .catalog-painters__container {
    flex-direction: column-reverse;
  }

  .catalog-painters__choice {
    width: auto;
    margin-bottom: 50px;
  }

  .catalog-painters__drop {
    column-count: 3;
  }

  .catalog-painters {
    max-width: 100%;
    margin-right: 0px;
  }
}

@media(max-width: 576px) {

  .catalog-language__choice {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .catalog-title {
    margin: 0;
    margin-bottom: 20px;
  }

  .language__items {
    width: 100%;
  }

  .catalog-language__description {
    display: none;
  }

  .catalog-painters__drop {
    column-count: 1;
  }
}

@media(max-width: 320px) {

  .catalog {
    padding-top: 55px;
  }
  
  .catalog-title {
    font-size: 28px;
    margin-bottom: 13px;
  }

  .language__item {
    width: 32px;
    height: 32px;
  }

  .language-btn:active::before {
    width: 32px;
    height: 32px;
    top: 0px;
    left: 0px;

  }

  .active-btn::after {
    width: 44px;
    height: 44px;
    margin-top: -22px;
    margin-left: -22px;
  }

  .ui-accordion-header {
    height: 75px;
  }

  .catalog-painters__years {
    font-size: 18px;
  }

  .catalog-painters__icon {
    width: 30px;
    height: 30px;
  }

  .ui-accordion .ui-accordion-content {
    padding-top: 20px;
    padding-bottom: 24px;
  }

  .catalog-painters__img {
    margin-bottom: 16px;
  }

  .catalog-painters__name {
    margin-bottom: 10px;
  }

  .catalog-painters__about {
    margin-bottom: 6px;
  }
}