.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc((100vw - 1607px)/2 - 20px);
}

.contacts-title {
  padding-left: 150px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: var(--title-color);
}

.contacts-main {
  position: relative;
  max-width: 700px;
  padding-top: 123px;
  padding-right: 122px;
  padding-left: 15px;
  padding-bottom: 121px;
}

.contacts-main::after {
  content: '';
  position: absolute;
  width: calc(100% + ((100vw - 1647px)/2));
  height: 100%;
  min-width: 100%;
  top: 0;
  right: 0;
  border: 1px solid #CACACA;
}

.contacts-main__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  color: var(--title-color);
}

.contacts-main__address {
  margin: 0;
  margin-bottom: 35px;
  font-style: normal;
  font-size: 16px;
}

.contacts-form__label {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  color: var(--title-color);
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.contacts-form__input {
  width: 400px;
  padding: 4px 97px 4px 24px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 32px;
  outline: none;
  border: 1px solid #333333;
  border-radius: 100px;
  transition: background .2s linear;
}

.contacts-form__input::placeholder {
  color: #999999;
}

.contacts-form__input:hover, .contacts-form__input:focus-visible {
  background-color: #EAEAEA;
}


.js-validate-error-label {
  position: relative;
  top: -80px;
  left: 26px;
  padding: 0;
  font-size: 12px;
  color: #FF5C00!important;
  background: transparent;
}


.contacts-form__btn {
  position: relative;
  width: 157px;
  height: 59px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #9D5CD0;
  background: #FFFFFF;
  outline: none;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  transition: background .2s linear, border .2s linear, color .2s linear;
}

.contacts-form__btn:focus-visible::after {
  content: '';
  position: absolute;
  width: 167px;
  height: 69px;
  top: 0px;
  left: 0px;
  margin-top: -7px;
  margin-left: -7px;
  border: 2px solid #C283F3;
  border-radius: 100px;
}

.contacts-form__btn:hover {
  color: #FFFFFF;
  background: var(--hover-color);
  border: 3px solid #D1A9F0;
  border-radius: 100px;
}

.contacts-form__btn:active {
  color: #FFFFFF;
  border: 3px solid #D1A9F0;
  background: var( --active-focus-color);
}

.contacts-social {
  position: relative;
}

.contacts-social__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: var(--title-color);
}

.contacts-social__link {
  display: inline-block;
  margin: 0;
  transition: opacity .2s linear;
}

.contacts-social__link:not(:last-child) {
  margin-right: 15px;
}

.contacts-social__link:hover,  .contacts-social__link:focus-visible{
  opacity: 0.5;
}

.contacts-social__link:active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  border: 1px solid #9643A4;
  border-radius: 100px;
  transition: border .2s linear;
}

.contacts-map {
  width: 1720px;
  height: 697px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

@media(max-width: 1024px) {
  .contacts-title {
    padding-left: 46px;
  }

  .contacts-main {
    padding-right: 102px;
    padding-left: 48px;
    padding-bottom: 102px;
  }

  .contacts-form__input {
    width: 335px;
  }

  .contacts-social__title {
    margin-bottom: 17px;
  }

  .contacts-social__link:not(:last-child) {
    margin-right: 29px;
  }

  .contacts-social__icon {
    width: 58px;
    height: 58px;
  }

  .contacts-social__link:active::after {
    width: 58px;
    height: 58px;
  }

  .contacts-map {
    height: 697px;
  }
}

@media(max-width: 768px) {

  .contacts-title {
    padding-left: 50px;
  }

  .contacts-main {
    padding-top: 126px;
    padding-right: 45px;
    padding-bottom: 101px;
    padding-left: 50px;
  }

  .contacts-main__address {
    margin-bottom: 35px;
  }
}

@media(max-width: 576px) {

  .contacts {
    position: relative;
  }

  .contacts-container {
    flex-direction: column-reverse;
  }

  .contacts-title {
    padding-bottom: 40px;
    padding-left: 15px;
  }

  .contacts-main__title,
  .contacts-main__address {
    position: absolute;
    margin: 0;
  }

  .contacts-main__title {
    font-size: 18px;
    line-height: 25px;
    top: 60px;
  }

  .contacts-main__address {
    top: 90px;
    font-size: 14px;
  }

  .contacts-map {
    width: 100%;
    height: 320px;
  }

  .ymaps-2-1-78-map {
    height: 320px;
  }

  .contacts-main {
    position: unset;
    padding: 15px;
  }

  .contacts-main::after {
    border: none;
  }

  .contacts-form__input {
    width: 100%;
  }

  .contacts-social__icon {
    width: 50px;
    height: 50px;
  }

  .contacts-social__link:active::after {
    width: 50px;
    height: 50px;
  }
}

@media(max-width: 320px) {

  .contacts {
    padding-bottom: 12px;
  }

  .contacts-title {
    padding-bottom: 58px;
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .contacts-main__title {
    font-size: 18px;
    line-height: 25px;
    top: 50px;
  }

  .contacts-main__address {
    top: 75px;
    font-size: 14px;
  }

  .contacts-main {
    padding-top: 20px;
    border: none;
  }

  .contacts-form {
    margin-bottom: 20px;
  }

  .contacts-form__label {
    margin-bottom: 16px;
  }

  .contacts-form__label {
    font-size: 18px;
  }

  .contacts-form__input {
    margin-bottom: 19px;
  }

  .contacts-form__btn {
    width: 127px;
    height: 39px;
    font-size: 12px;
  }

  .contacts-social__title {
    margin-bottom: 7px;
    font-size: 18px;
  }

  .contacts-social__link:not(:last-child) {
    margin-right: 15px;
  }

  .contacts-social__icon {
    width: 50px;
    height: 50px;
  }
}