.second-nav__items  {
  display: flex;
}

.second-nav__item {
  color: #ffffff;
  font-size: 18px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 70px;
  left: 120px;
  padding: 40px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.4);
}

.dropdown.is-active {
  display: block;
}

.dropdown.is-active2 {
  display: block;
  left: 309px;
}

.dropdown.is-active3 {
  display: block;
  left: 565px;
}

.dropdown.is-active4 {
  display: block;
  left: 858px;
}

.dropdown.is-active5 {
  display: block;
  left: 1055px;
}

.dropdown__items {
  width: 220px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 9px 0px 12px 14px;
}

.dropdown__items:not(:last-child) {
  margin-bottom: 20px;
}
/* 
/* .dropdown__items:hover {
  cursor: pointer;
  outline: 2px solid var(--hover-color);
  transition: .3s;
} */ */

.dropdown__items:active {
  outline: 2px solid #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.dropdown__items:focus {
  border: 2px solid #D1A9F0;
}


.simplebar-scrollbar::before {
  width: 2px;
  left: 0px;
  right: 0px;
  border-radius: 0px;
  background-color: var(--hover-color);
}

.simplebar-track {
  height: 220px;
  right: 19px;
  background: black;
  overflow: visible;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  width: 2px;
}

.second-nav__link:hover {
  color: var(--hover-color);
  transition: .3s;
}

.second-nav__link:active {
  color: var(--active-focus-color);
}

.second-nav__link:focus {
  outline: 2px solid var(--active-focus-color);
}

.second-nav__link:active
.second-nav__icon {
  transform: rotate(180deg) translateY(-3px);
}
