.second-nav__items  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-nav__item {
  position: relative;
  color: #ffffff;
  font-size: 18px;
}

.second-nav__item:not(:last-child) {
  margin-right: 97px;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 47px;
  padding: 40px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.4);
  transition: .2s linear;
}

.dropdown.is-active {
  visibility: visible;
  opacity: 1;
}

.dropdown__items {
  width: 220px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 9px 0px 12px 14px;
  transition: .2s linear;
}

.dropdown__items:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__items:hover {
  cursor: pointer;
  outline: 2px solid var(--hover-color);
  outline-offset: -2px;
}

.dropdown__items:active {
  outline: 2px solid #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.dropdown__items:focus-visible {
  outline: 2px solid #D1A9F0;
  outline-offset: -2px;
}


.simplebar-scrollbar::before {
  width: 2px;
  left: 0px;
  right: 0px;
  border-radius: 0px;
  background-color: var(--hover-color);
}

.simplebar-track {
  height: 220px;
  right: 19px;
  background: black;
  overflow: visible;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  width: 2px;
}

.second-nav__link:hover {
  color: var(--hover-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.second-nav__link:active {
  color: var(--active-focus-color);
}

.second-nav__link:focus-visible {
  outline: 2px solid var(--active-focus-color);
}

.second-nav__link:active
.second-nav__icon {
  -webkit-transform: rotate(180deg) translateY(-3px);
      -ms-transform: rotate(180deg) translateY(-3px);
          transform: rotate(180deg) translateY(-3px);
}