.second-nav__items  {
  display: flex;
  justify-content: space-between;
  width: 64.7%;
}

.second-nav__item {
  position: relative;
  color: #ffffff;
  font-size: 18px;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 47px;
  padding: 40px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.4);
  transition: all .2s;
}

.dropdown.is-active {
  visibility: visible;
  opacity: 1;
}

.dropdown__items {
  position: relative;
  width: 220px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 9px 0px 12px 14px;
  transition: all .2s;
}

.dropdown__items:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__items:hover {
  cursor: pointer;
  outline: 2px solid var(--hover-color);
  outline-offset: -2px;
}

.dropdown__items::before {
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  z-index: 4;
}

.dropdown__items:active::before {
  opacity: 1;
  outline: 2px solid #D1A9F0;
  outline-offset: -2px;
}

.dropdown__items:focus-visible {
  outline: 2px solid #D1A9F0;
  outline-offset: -2px;
}


.simplebar-scrollbar::before {
  width: 2px;
  left: 0px;
  right: 0px;
  border-radius: 0px;
  background-color: var(--hover-color);
}

.simplebar-track {
  height: 220px;
  right: 19px;
  background: black;
  overflow: visible;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  width: 2px;
}

.second-nav__link {
  outline: none;
}

.second-nav__link:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.second-nav__link:active {
  color: var(--active-focus-color);
}

.second-nav__link:focus-visible::before {
  content: '';
  position: absolute;
  width: calc(100% + 12px);
  height: calc(100% + 4px);
  top: -2px;
  left: -6px;
  background-color: var(--active-focus-color);
  z-index: -1;
}

.second-nav__link:active
.second-nav__icon {
  transform: rotate(180deg) translateY(-3px);
}