.events {
  padding-top: 82px;
  /* padding-top: 88px; */
  padding-bottom: 83px;
}

.events-slider {
  display: none;
}

.events-container {
  display: flex;
  flex-direction: column;
}

.events-cards {
  display: flex;
  flex-direction: column;
}

.events-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: normal;
  color: #333333;
}

.events-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} 

.events-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 1 30.33%;
  min-width: 290px;
  max-width: 500px;
  min-height: 700px;
  height: initial;
  margin-bottom: 50px;
  border: 1px solid #cacaca;
}

.events-item:not(:nth-of-type(3n + 3)) {
  margin-right: 27px;
}

.events-item__wrapper-img {
  margin-bottom: 14px;
}

.events-item__img {
  max-width: 100%;
    height: auto;
}

.events-item__text-container {
  display: flex;
  position: relative;
  padding: 0px 4% 92px 10%;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.events-item__place {
  margin: 0;
  margin-bottom: 5px;
  line-height: 16px;
  font-size: 12px;
  text-align: end;
  color: #999999;
}

.events-item__data {
  display: block;
}

.events-item__title {
  margin-bottom: 5px;
}

.events-item__text {
  margin: 0;
  max-width: 400px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-bottom: auto;
}

.events-item__link {
  position: absolute;
  bottom: 37px;
  left: 50px;
  font-size: 16px;
  line-height: 32px;
  color: #9D5CD0;
  border-bottom: 1px solid var(--hover-color); 
  transition: all .2s;
}

.events-item__link:hover {
  font-weight: bold;
}

.events-item__link:active {
  font-weight: bold;
  color: var(--active-focus-color);
  border-color: var(--active-focus-color);
}


.events-item__link:focus-visible {
  padding: 2px 8px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: var(--hover-color);
}


.events-btn {
  position: relative;
  align-self: center;
  width: 188px;
  height: 59px;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--hover-color);
  outline: none;
  border: 2px solid var(--hover-color);
  border-radius: 100px;
  transition: all .2s;
}

.events-btn:hover {
  color: #ffffff;
  background-color: var(--hover-color);
  border: 3px solid #D1A9F0;
}

.events-btn:active {
  color: #ffffff;
  background-color: var(--active-focus-color);
  border: 3px solid rgba(209, 169, 240, 1);
}

.events-btn:focus-visible::after {
  content: '';
  position: absolute;
  width: 198px;
  height: 69px;
  top: -7px;
  left: -7px;
  border: 2px solid var(--btn-color);
  border-radius: 100px;
}

.events-item:nth-child(n+4){
  display: none;
  margin-bottom: 0px;
}

.events-item.is-visible {
  display: flex;
}

.is-invisible {
  display: none;
}

@media(max-width: 1024px) {

  .events {
    padding-bottom: 80px;
  }

  .events-title {
    margin-bottom: 21px;
  }

  .events-item {
    min-height: 683px;
  }

  .events-item__wrapper-img {
    min-height: 200px;
  }

  .events-item__img {
    width: 100%;
    height: 100.5%;
  }

  .events-item__text-container {
    padding-right: 18px;
    padding-bottom: 139px;
    padding-left: 35px;
  }

  .events-item__link {
    bottom: 47px;
    left: 35px;
  }
}

@media(max-width: 992px) {

  .events {
    padding-top: 72px;
    padding-bottom: 81px;
  }

  .events-item:not(:nth-of-type(3n + 3)) {
    margin-right: 0px;
  }

  .events-item:nth-child(2n + 1) {
    margin-right: 34px;
  }

  .events-item:nth-child(n+3){
    display: none;
    margin-bottom: 50px;
  }

  .events-item.is-visible {
  display: block;
}

}

@media(max-width: 576px) {

  .container {
    padding: 0 15px;
  }

  .events-container {
    display: block;
  }

  .events-slider {
    display: block;
    min-height: 713px;
  }

  .events-cards {
    display: none;
  }

  .events-wrapper {
    margin-bottom: 10px;
  }

  .events-slide {
    width: 546px;
    max-width: 546px;
    min-height: 683px;
    height: auto;
    padding-bottom: 50px;
    border: 1px solid #CACACA;
  }

  .events-item__img {
    width: 100%;
  }

  .events-item__description {
    margin: 0;
    padding: 0px 17px 0px 28px;
    min-height: 384px;
  }

  .events-pagination {
    position: unset;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background: #666;
  }
}

@media(max-width: 320px) {

  .events {
    padding-top: 51px;
    padding-bottom: 47px;
  }

  .events-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 11px;
  }

  .events-wrapper {
    margin-bottom: 15px;
  }

  .events-slide {
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 100%;
  }

  .events-item__wrapper-img {
    margin-bottom: 13px;
  }

  .events-item__img {
    height: 200px;
  }

  .events-item__text-container {
    padding-right: 10px;
    padding-bottom: 70px;
    padding-left: 27px;
  }

  .events-item__title {
    margin-bottom: 37px;
  }

  .events-item__link {
    left: 28px;
  }
}