.gallery {
  padding-top: 80px;
  padding-bottom: 70px;
  background-image: url(../img/gallary/background.jpg);
}

.gallery-container {
  display: flex;
}

.gallery-filter {
  max-width: 401px;
  margin-right: 50px;
}

.gallery-title {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: normal;
  line-height: 65px;
  color: #FFFFFF;
}

.gallary-text__tablet768 {
  display: none;
}

.gallery-title__text {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.gallary-select {
  margin-bottom: 552px;
}

.gallary-text {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.gallary-text__link {
  position: relative;
  color: #C283F3;
  outline: none;
  z-index: 1;
}



.gallary-text__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--hover-color);
  transition: width .2s linear;
}

.gallary-text__link:hover::before {
  width: 100%;
}

.gallary-text__link:active{
  color: var(--active-focus-color);
}

.gallary-text__link:active.gallary-text__link::before {
  background: var(--active-focus-color);
}


.gallary-text__link:focus-visible {
  color: #fff;
}

.gallary-text__link:focus-visible::after {
  content: '';
  position: absolute;
  width: calc(100% + 6px); 
  height: calc(100% + 4px);
  top: -2px;
  left: -3px;
  background-color: var(--active-focus-color);
  z-index: -1;
}


.choices  {
  width: 400px;
  margin: 0;
  color: #ffffff;
}

.choices.is-focused.is-open .choices__inner {
  border-radius: 6px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__inner {
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background .2s linear;
}

.choices__inner:hover {
  background: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);  
}

.choices__list--dropdown:hover .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown {
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1); 
}

.choices[data-type*=select-one]::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 0px;
  border-style: none;
  border-color: #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  top: 37%;
  transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open::after {
  margin-top: 0px;
  top: 50%;
  border-color: #ffffff;
  transform: rotate(225deg);
}

.image-slider.swiper-container {
  /* max-height: 835px; */
  margin: 0;
}

.image-slider__wrapper {
  flex-wrap: wrap;
  flex-direction: column;
  height: 750px;
  margin-top: 85px;
}

.image-slider .swiper-button-prev {
  margin-top: 0px;
  margin-right: 20px;
  
}

.image-slider .swiper-button-next {
  margin-top: 0px;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #ffffff;
  font-size: 10px;
}

.image-slider__slide.swiper-slide {
  padding: 0px;
  border: none;
  height: calc((100% - 50px) / 2);
  max-height: 350px;
  cursor: pointer;
}

.image-slider__slide::after {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 25px;
  background-image: url(../img/gallary/plus.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
  transition: opacity .2s linear;
}

.image-slider__slide::before {
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  z-index: 4;
  transition: opacity .2s linear;
}

.image-slider__slide:hover::after{
  opacity: 1;
}

.image-slider__slide:active::before{
  opacity: 1;
}

.image-slider__slide:focus-visible {
  outline: 3px solid var(--active-focus-color);
  outline-offset: -3px;
  transition: outline .2s linear;
}

.image-slider__slide:active {
  outline: 2px solid #D1A9F0;
  outline-offset: -2px;
  transition: outline .2s linear;
}

.image-slider__image {
  width: 100%;
  height: 100%;
}

.swiper-buttons {
  display: flex;
  position: absolute;
  align-items: center;
  top: 24px;
  left: 2px;
  max-width: 500px;
}

.swiper-buttons.swiper-buttons-mobile {
  display: none;
}

.image-btn-prev,
.image-btn-next {
  position: initial;
  width: 31px;
  height: 31px;
  background: #666666;
  border-radius: 50px;
  transition: background .2s linear, border .2s linear;
}

.image-btn-prev.swiper-button-prev:hover,
.image-btn-next.swiper-button-next:hover {
  background: var(--hover-color);
} 

.image-btn-prev.swiper-button-prev:active,
.image-btn-next.swiper-button-next:active {
  background: var(--active-focus-color);
  border: 2px solid #000;
} 

.image-btn-prev.swiper-button-prev:focus,
.image-btn-next.swiper-button-next:focus {
  outline: none;
  border: 2px solid #000;
} 

.image-slider .swiper-pagination {
  position: initial;
  width: auto;
}

.image-slider.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  font-size: 16px;
  background-color: #fff;
}

.image-slider .swiper-pagination-fraction {
  margin-right: 17px;
  font-size: 16px;
  color: #fff;
}

.modal__container {
  padding: 0px;
  border-radius: unset;
}

.modal-content {
  display: flex;
}

.modal-text {
  padding: 110px 50px;
}

.modal-title {
  margin: 0;
  font-weight: 600;
  color: #333333;
}

.modal-main__title {
  margin-bottom: 5px;
  font-size: 24px;
}

.modal-subtitle {
  margin-bottom: 9px;
  font-size: 16px;
}

.modal-years {
  margin: 0px;
  margin-bottom: 41px;
  font-weight: normal;
  font-size: 12px;
  color: #969696;
}

.modal-discription {
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
} 


@media(max-width: 1366px) {
  .image-slider__slide.swiper-slide {
    max-width: 350px;
  }
}

@media(max-width: 1024px) {

  .choices {
    width: 280px;
  }

  .gallary-select {
    margin-bottom: 364px;
  }

  .image-slider.swiper-container {
    max-height: 680px;
  }

  .image-slider__slide.swiper-slide {
    max-width: 280px;
    max-height: 280px;
  }

  .modal__container {
    width: 594px;
  }

  .modal-content {
    height: 594px;
  }

  .modal-content img {
    width: 44%;
  }

  .modal-text {
    padding-top: 125px;
  }
}

@media(max-width: 992px) {

  .gallery {
    padding-bottom: 69px;
  }

  .gallery-container {
    flex-direction: column;
  }

  .gallary-select {
    margin-bottom: 23px;
  }

  .gallary-select 
  .choices.is-open {
    margin-bottom: 90px;
  }

  .gallary-text__desctop {
    display: none;
  }

  .gallary-text__tablet768 {
    display: block;
  }

  .image-slider.swiper-container {
    max-width: 668px;
    margin-bottom: 31px;
  }

  .image-slider__wrapper {
    height: 668px;
  }

  .image-slider__slide.swiper-slide {
    max-width: 317px;
    height: calc((100% - 34px) / 2);
  }

  .image-slider .swiper-button-prev {
    margin-right: 16px;
  }
}

@media(max-width: 576px) {

  .image-slider.swiper-container {
    margin-bottom: 20px;
  }

  .image-slider__wrapper {
    flex-wrap: nowrap;
    flex-direction: unset;
    height: 365px;
  }

  .image-slider__slide.swiper-slide {
    max-width: 100%;
    height: auto;
    max-height: unset;
  }

  .swiper-buttons.swiper-buttons__desktop {
    display: none;
  }

  .swiper-buttons.swiper-buttons-mobile {
    position: unset;
    display: flex;
    max-width: 546px;
    justify-content: center;
  }

  .gallery-filter {
    margin-bottom: 40px;
  }

  .gallary-select 
  .choices.is-open {
    margin-bottom: 80px;
  }

  .image-slider__wrapper {
    margin: 0;
    margin-bottom: 20px;
  }

  .modal__container {
    width: 290px;
  }

  .modal-content {
    flex-direction: column;
    height: 100%;
  }

  .modal-content img {
    width: 100%;
  }

  .modal-text {
    padding: 20px;
  }

  .modal-main__title {
    margin-bottom: 2px;
  }

  .modal-subtitle {
    margin-bottom: 5px;
  }

  .modal-years {
    margin-bottom: 12px;
  }
}

@media(max-width: 320px) {
  .gallery {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .gallery-title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .gallery-title__text {
    margin-bottom: 5px;
  }

  .gallary-select {
    margin-bottom: 0;
  }

  .choices {
    width: 290px;
  }

  .gallary-select .choices.is-open {
    margin-bottom: 80px;
  }

  .choices__inner {
    min-height: 40px;
    padding-top: 4.5px;
  }

  .choices[data-type*=select-one]:after {
    right: 15.5px;
  }

  .image-slider__wrapper {
    max-height: 367px;
    height: 367px;
    margin-bottom: 19px;
  }

  .image-slider__slide.swiper-slide {
    height: 367px;
  }

  .image-slider__image {
    height: 367px;
  }

  .image-slider .swiper-button-prev {
    margin-right: 10px;
  }
}