.choices[data-type*=select-one]::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 0px;
  border-style: none;
  border-color: #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  top: 37%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open::after {
  margin-top: 0px;
  top: 50%;
  border-color: #ffffff;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}

.image-slider.swiper-container {
  max-height: 835px;
}

.image-slider__wrapper {
  margin-top: 85px;
}

.image-slider .swiper-button-prev {
  margin-top: 0px;
  margin-right: 11px;
  
}

.image-slider .swiper-button-next {
  margin-top: 0px;
  margin-left: 10px;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #ffffff;
  font-size: 10px;
}

.image-slider__slide.swiper-slide {
  padding: 0px;
  border: none;
  max-height: 350px;
}

.image-slider__slide::before {
  content: '';
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s linear;
}

.image-slider__slide:hover::before {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  top: 25px;
  left: 25px;
  background-image: url(/img/gallary/plus.png);
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.image-slider__slide:active::after {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0;
  left: 0;
  background-color: rgba(194, 131, 243, 0.4);
  cursor: pointer;
}


.image-slider__slide:focus {
  outline: 3px solid var(--active-focus-color);
  outline-offset: -3px;
}

.swiper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 24px;
  left: 2px;
  max-width: 500px;
}

.image-btn-prev,
.image-btn-next {
  position: initial;
  width: 31px;
  height: 31px;
  background: #666666;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 50px;
  /* -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: var(--hover-color);
  /* -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; */
} 

.swiper-button-prev:active,
.swiper-button-next:active {
  background: var(--active-focus-color);
  border: 2px solid rgba(209, 169, 240, 1);
} 

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
  border: 2px solid var(--active-focus-color);
} 

.image-slider .swiper-pagination {
  position: initial;
  width: auto;
}

.image-slider.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  font-size: 16px;
  background-color: #fff;
}

.image-slider .swiper-pagination-fraction {
  font-size: 16px;
  color: #fff;
}

.modal__container {
  padding: 0px;
  border-radius: unset;
}

.modal-content {
  display: flex;
}

.modal-text {
  padding: 110px 50px;
}

.modal-title {
  margin: 0;
  font-weight: 600;
  color: #333333;
}

.modal-main__title {
  margin-bottom: 5px;
  font-size: 24px;
}

.modal-subtitle {
  margin-bottom: 9px;
  font-size: 16px;
}

.modal-years {
  margin: 0px;
  margin-bottom: 41px;
  font-weight: normal;
  font-size: 12px;
  color: #969696;
}

.modal-discription {
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
} 


