.projects {
  padding: 80px 0px;
}

.projects-discription {
  max-width: 1080px;
  margin-bottom: 20px;
}

.projects-title {
  margin-bottom: 17px;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.projects-text {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--title-color);
}

.projects-discription__link {
  position: relative;
  font-weight: 600;
  color: var(--hover-color);
}

.projects-discription__link:focus-visible {
  /* outline: 2px solid var(--active-focus-color); */
  outline: none;
  color: #ffffff;
  background-color: var(--active-focus-color);
}

.projects-discription__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--hover-color);
  transition: .2s linear;
}

.projects-discription__link:hover::after {
  width: 100%;
}

.projects-discription__link:active {
  color: var(--active-focus-color);
}

.projects-discription__link:active::after {
  background: var(--active-focus-color);
}

.projects-partners__title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.projects-slider__cont {
  display: flex;
  align-items: center;
}

.projects-wrapper{
  max-width: 1450px;
  margin: 0 auto;
}

.projects-slide.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 150px;
  margin-right: 50px;
  border: 1px solid #CACACA;;
}

.projects-slide {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: .2s linear;
}

.projects-slide:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  border: 1px solid var(--active-focus-color);
}

.projects-slider__cont .swiper-button-prev::after,
.projects-slider__cont .swiper-button-next::after {
  color: #ffffff;
  font-size: 10px;
}

.projects-slider__cont .swiper-button-prev,
.projects-slider__cont .swiper-button-next {
  position: inherit;
  margin: 0px;
  width: 31px;
  height: 31px;
  background: #666666;
  border-radius: 50px;
  border: 1px solid #666666;
  transition: .2s linear;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: var(--hover-color);
} 

.swiper-button-prev:active,
.swiper-button-next:active {
  background: var(--active-focus-color);
  border: 2px solid #000;
} 

.swiper-button-prev:focus-visible,
.swiper-button-next:focus-visible {
  outline: none;
  border: 2px solid var(--active-focus-color);
} 


.ui-tooltip-content {
  position: relative;
  padding: 7px 11px;
  max-width: 264px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background: var(--active-focus-color);
}

.ui-tooltip-content::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--active-focus-color);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}


@media (max-width: 1024px) {
  .projects-slider {
    max-width: 818px;
  }

  .projects-slide.swiper-slide {
    height: 128px;
  }
}


@media (max-width: 768px) {

  .projects-discription {
    margin-bottom: 57px;
  }

  .projects-partners__title {
    margin-bottom: 29px;
  }

  .projects-slider {
    max-width: 562px;
  }

  .projects-slide.swiper-slide {
    height: 106px;
  }

  .projects-slide__img {
    width: auto;
    max-width: 83%;
  }
}

@media (max-width: 576px) {
  .projects-slider {
    max-width: 450px;
  }
}

@media (max-width: 320px) {

  .projects {
    padding: 50px 0px;
  }

  .projects-discription {
    margin-bottom: 10px;
  }

  .projects-title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }


  .projects-partners__title {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 32px;
  }

  .projects-slider {
    max-width: 195px;
  }

  .projects-slide.swiper-slide {
    max-width: 195px;
    height: 65px;
  }

  .projects-slide__img {
    width: 55%;
  }
}


