.publication {
  padding-top: 80px;
  padding-bottom: 72px;
  background-image: url(../img/publication/back.webp);
  background-size: cover;
}

.publication-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.publication-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: normal;
  color: #FFFFFF;
}

.publication-categories {
  /* width: 67.8%; */
  width: 57%;
}

.publication-categories__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.publication-categories__items {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.publication-categories__item {
  display: flex;
  align-items: center;
}

.publication-categories__input {
  opacity: 0;
  margin: 0;
}

.publication-categories__label {
  position: relative;
  padding-left: 11px;
  color: white;
  font-size: 16px;
  line-height: 32px;
}

.publication-categories__label::before,
.publication-categories__label::after {
    position: absolute;
    content: "";
}

.publication-categories__label::before{
  height: 12px;
  width: 12px;
  border: 1px solid #fff;
  left: -13px;
  top: 10px;
}

.publication-categories__label::after {
  position: absolute;
  top: 16px;
  left: -7px;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background: var(--hover-color);
  border-radius: 100%;
}

.publication-categories__input + .publication-categories__label::after {
  content: none;
}

.publication-categories__input:checked + .publication-categories__label::after {
  content: "";
}

.publication-categories__input:checked + .publication-categories__label::before {
  border-color: var(--hover-color);
}

.publication-categories__input:checked + .publication-categories__label {
  color: var(--hover-color);
}

.publication-categories__label:hover {
  color: var(--hover-color);
  cursor: pointer;
}

.publication-categories__label:hover::before {
  border-color: var(--hover-color);
}

.publication-categories__input:focus-visible + .publication-categories__label {
  color: var(--hover-color);
}

.publication-categories__input:focus-visible + .publication-categories__label::before {
  border-color: var(--hover-color);
}

.publication-price__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}

.publication-price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 277px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.publication-price__text {
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.publication-price__input {
  width: 73px;
  height: 40px;
  padding: 0 10px;
  margin: 0;
  border: none;
  outline: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color: rgba(157, 92, 208, 0.5);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

input[type="number"]:active {
  background-color: var(--active-focus-color);
}

input[type="number"]:focus {
  background-color: var(--hover-color);
  border: 1px solid #FFFFFF;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-moz-placeholder {
  color: #ffffff; /* Цвет подсказывающего текста */
 }
 input[type="number"]::-webkit-input-placeholder { color: #ffffff; }
 input[type="number"]:-ms-input-placeholder { color: #ffffff; }
 input[type="number"]::-ms-input-placeholder { color: #ffffff; }
 input[type="number"]::placeholder { color: #ffffff; } 


 .publication-card {
   display: none;
 }

.publication-slider {
  max-width: 1150px;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 5px;
} 
/* 
.publication-slide.swiper-slide {
  width: 350px;
  max-width: 350px;
}  */

.publication-slide__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.publication-slide__discription {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.publication-slide__book {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.publication-slide__name {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.publication-slide__price {
  margin: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.publication-slide__btn {
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  background: none;
  color: #FFFFFF;
  outline: none;
  border: none;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
}

.publication-slide__btn:hover {
  color: #ffffff;
  background: var(--hover-color);
}

.publication-slide__btn:active {
  background: var(--active-focus-color);
  border: 3px solid #D1A9F0;
  border-radius: 100px;
}

.publication-slide__btn:focus-visible::after {
  content: '';
  position: absolute;
  width: 129px;
  height: 50px;
  bottom: 2px;
  left: 1px;
  margin-left: -5px;
  border: 2px solid #C283F3;
  border-radius: 100px;
}

.publication-slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 32px;
}

.publication-slider .swiper-button-prev::after,
.publication-slider .swiper-button-next::after {
  color: #ffffff;
  font-size: 10px;
}


.publication-slider .swiper-button-prev, 
.publication-slider .swiper-button-next {
  position: initial;
  top: 33px;
  left: 10px;
  width: 31px;
  height: 31px;
  margin-top: 0;
  background: #666666;
  border: 1px solid #666666;
  border-radius: 50px;
  transition: .2s linear;
}

.publication-slider .swiper-button-prev {
  margin-right: 18px;
}

.publication-slider .swiper-button-next {
  margin-left: 18px;
}

.publication-slider .swiper-pagination {
  position: initial;
  width: auto;
}

.publication-slider .swiper-pagination-fraction {
  font-size: 16px;
  color: #ffffff;
}

@media(max-width: 1366px) {

  .publication-categories {
    width: 34%;
  }

  .publication-slider {
    max-width: 737px;
  }
}


@media(max-width: 1024px) {

  .publication {
    padding-bottom: 79px;
  } 

  .publication-slider {
    max-width: 630px;
  }

  .publication-slide.swiper-slide  {
    width: 290px;
    max-width: 290px;
  }

  .publication-slide__img {
    width: 100%;
    margin-bottom: 7px;
  }
}


@media(max-width: 768px) {

  .publication {
    padding-top: 84px;
    padding-bottom: 70px;
  }

  .publication-container {
    flex-direction: column;
  }

  .publication-categories {
    width: 100%;
    margin-bottom: 17px;
  }

  .publication-title {
    margin-bottom: 33px;
  }

  .publication-categories__title {
    margin-bottom: 7px;
  }

  .publication-categories__items {
    max-height: 130px;
    margin-bottom: 33px;
    flex-wrap: wrap;
    align-content: space-between;
  } 

  .publication-slider {
    max-width: 700px;
  }

  .publication-wrapper {
    margin-left: 27px;
  }

}

@media(max-width: 576px) {

  .publication-categories__title {
    border-top: 1px solid #CACACA;
  }

  .publication-categories__items {
    display: none;
    transition: height .3s;
  }

  .categories__items_active {
    display: flex;
    flex-direction: column;
    transition: height .3s;
  }

  .publication-categories__title,
  .publication-categories__item {
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid #CACACA;
  }

  .publication-categories__item:not(:last-child) {
    margin: 0;
  }

  .publication-categories__items {
    max-height: none;
    flex-wrap: nowrap;
  }

  .publication-slider {
    display: none;
  }

  .publication-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .publication-slide {
    width: 47%;
    margin-bottom: 50px;
  }

  .publication-slide__discription {
    display: block;
  }

  .publication-slide__btn {
    width: 100%;
    font-size: 12px;
  }

  .publication-slide__book,
  .publication-slide__name,
  .publication-slide__price {
    font-size: 12px;
  }

  /* .categories__items_active .publication-categories__item[data-checked="false"] {
    display: none;
  } */

  .categories__items_active .publication-categories__item[data-checked="true"] {
    display: flex;
  }

  .publication-categories__items .publication-categories__item[ data-checked="true"] {
    display: flex;
  }
}

@media(max-width: 320px) {

  .publication {
    padding-top: 49px;
    padding-bottom: 4px;
  }

  .publication-title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .publication-categories {
    margin-bottom: 48px;
  }

  .publication-categories__items {
    margin-bottom: 18px;
  }

  .publication-price__title {
    margin-bottom: 14px;
  }

  .publication-slide {
    width: 45%;
  }

  .publication-slide__img {
    margin-bottom: 5px;
  }

  .publication-slide__discription {
    margin-bottom: 12px;
  }

  .publication-slide__book, 
  .publication-slide__name, 
  .publication-slide__price {
    line-height: 15px;
  }

  .publication-slide__text {
    margin-bottom: 3px;
  }
}



