@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --hover-color: rgba(157, 92, 208, 1);
  --active-focus-color: rgba(121, 67, 164, 1);
  --title-color: #333333;
  --btn-color: rgba(157, 92, 208, 1);
  --checkbox-color: rgba(194, 131, 243, 1);
}

html,
body {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: 'Open-sans', sans-serif;
  font-size: 18px;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:active, a:focus { 
  outline: none; 
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var( --title-color);
}

.main-title {
  display: none;
}


.title {
  margin: 0;
  font-size: 48px;
  font-weight: normal;
  color: var( --title-color);
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 0px;
  cursor: pointer;
}

.first-header {
  position: relative;
  background-color: #000000;
  z-index: 10;
}

.first-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 29px;
}

.logo-link {
  margin-right: 178px;
}

.first-nav {
  margin-right: 283px;
}

.first-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-nav__item {
  font-weight: 600;
}

.first-nav__link {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.first-nav__link:focus {
  outline: 2px solid var(--active-focus-color);
}

.first-nav__link:hover {
  color: var(--hover-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.first-nav__link:active {
  color: var(--active-focus-color);
}

.first-nav__item:not(:last-child){
  margin-right: 62px;
}

.first-header__link {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.first-header__link:focus {
  outline: 2px solid var(--active-focus-color);
}

.first-header__link:hover {
  color: var(--hover-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.first-header__link:active {
  color: var(--active-focus-color);
}

.second-header {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  z-index: 11;
}

.second-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 24px;
}

.second-nav__items  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-nav__item {
  color: #ffffff;
  font-size: 18px;
}

.second-nav__item:not(:last-child) {
  margin-right: 97px;
}

.second-nav__link {
  padding: 0px;
  font-weight: normal;
  color: #ffffff;
  background: none;
  border: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search {
  width: 218px;
  padding: 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  caret-color: var(--hover-color);
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

input[type="search"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

input[type="search"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

input[type="search"]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.search:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--hover-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.search:focus {
  outline: var(--active-focus-color);
}

.search-btn {
  margin-right: 9px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.search-form:hover .search-btn {  
  color: var(--hover-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.search-btn:focus {
  outline: 2px solid var(--active-focus-color);
  /* border: 2px solid rgba(121, 67, 164, 1); */
}

.search:active .search-btn {
  color: var(--hover-color);
}

.hero {
  margin-top: -170px;
}

.hero-slider
.swiper-container {
  position: absolute;
}


.hero-slider .swiper-slide {
  height: 800px;
}

.hero-discription {
  position: absolute;
  width: 600px;
  top: 240px;
  left: 155px;
  z-index: 10;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}

.hero__text {
  margin: 0px;
  margin-bottom: 92px;
  margin-left: 5px;
  font-weight: bold;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__btn {
  margin-left: 5px;
  width: 314px;
  height: 70px;
  background: var(--btn-color);
  border: none;
  border-radius: 100px;
  outline: none;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.hero__btn:hover {
  border: 3px solid rgba(209, 169, 240, 1);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.hero__btn:active {
  border: 3px solid rgba(209, 169, 240, 1);
  background:var(--active-focus-color);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.hero__btn:focus::after {
  content: "";
  position: absolute;
  width: 324px;
  height: 80px;
  margin-top: -30px;
  margin-left: -286px;
  border: 2px solid rgba(194, 131, 243, 1);
  border-radius: 100px;
}

.about {
  padding-top: 80px;
  padding-bottom: 70px;
}

.about__title {
  margin-bottom: 23px;
}

.about__text {
  margin: 0;
  max-width: 1080px;
  font-size: 16px;
  line-height: 33px;
  color: #333333;
}

.gallery {
  padding-top: 80px;
  padding-bottom: 71px;
  background-image: url(/img/gallary/background.jpg);
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-filter {
  max-width: 401px;
  margin-right: 50px;
}

.gallery-title {
  margin-bottom: 16px;
  line-height: 65px;
  color: #FFFFFF;
}

.gallery-title__text {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.gallary-select {
  margin-bottom: 552px;
}

.gallary-text {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  color: #FFFFFF;
}

.gallary-text__link {
  color: #C283F3;
}

.gallary-text__link:hover {
  color: var(--hover-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.gallary-text__link:active {
  color: var(--active-focus-color);
}

.gallary-text__link:focus {
  outline:1px solid var(--active-focus-color);
}

.choices  {
  width: 400px;
  margin: 0;
  color: #ffffff;
}

.choices.is-focused.is-open {
  border-radius: 6px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__inner {
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

.choices__list--dropdown {
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1); 
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.1);
}

/* #choices--selectCustom-item-choice-1 {
  display: none;
} */

.catalog-title {
  margin-right: 41px;
}


.footer {
  padding: 42px 0px;
  background: #000000;
}

.footer-logo {
  margin: 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-social__link:not(:last-child) {
  margin-right: 13px;
}
